---
---

@import "{{ site.theme }}";

.red {
  color: red;
}

.green {
  color: green;
  font-weight: bold;
}

.blue {
  color: blue;
}

.orange {
  color: orange;
}

header h1 {
  margin: 0 0 0 0;
}

header h1:before {
  content: "";
}

.container {
  max-width: 1200px;
}

a {
  color: #888;
  text-shadow: none;
}

body {
  font-size: 15px;
}